{% extends 'base.html.twig' %}

{% block title %}{{ 'app.register.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'app.register.title'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_row(form) }}
        <button type="submit" class="btn btn-success">{{ 'app.register.button.submit'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
